@model LineBot.ViewModel.NotificationViewModel
@{
    ViewData["Title"] = "手動通知";
}

<h1>通知結果:</h1>

@{
    if (@Model.ReservationRequest.MemberNotify.Length == 0 && @Model.ReservationRequest.DriverNotify.Length == 0)
    {
        <h2>通知異常，未選取通知對象</h2>
    }


    if (@Model.ReservationRequest.MemberNotify.Length > 0)
    {
        <h2>已通知乘客</h2>
        <h3>乘客資訊</h3>
        <p>姓名：@Model.ReservationRequest.FullName</p>
        <p>聯絡電話：@Model.ReservationRequest.ContactPhoneNumber</p>
    }

    <hr>

    if (@Model.ReservationRequest.DriverNotify.Length > 0)
    {
        <h2>已通知司機</h2>
        <h3>司機資訊</h3>
        <p>姓名：@Model.Driver.Name</p>
        <p>電話：@Model.Driver.ContactNumber</p>
    }
}


